.hide {
    display: none;
}

* {
    margin: 10px;
}

#start { 
    margin-left: 48.5%;
    margin-right: 50%;
 }

body {
    text-align: center;
}

#timer {
    display: inline;
    margin-left: 0px;
}

#hs {
    display: inline;
    margin-left: 0px;
}

#pop-up2 {
    color: rgb(0, 193, 0);
}

#pop-up {
    color: red;
}